@charset "UTF-8";

/*todos*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px #1526a7;
}

html,body {
    background-color: #233eff;
    width: 100vw;
    height: 100vh;   
    background-repeat: no-repeat;
    background-size: contain;
}